/**
 * @author jelon <jilijelon@163.com>
 * version: 1.0.0
 * https://github.com/jilijelon/nest-comment
 */

/* reset css style for nest-comment */
.nest-comment {
    position: relative
}

/** 设置文本链接样式 **/
.nest-comment a {
    color: #48494d;
    text-decoration: none;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    cursor: pointer;
}

.nest-comment a:hover {
    text-decoration: none;
    color: #00A7EB;
}

/** 去除个别浏览器图片底部的几个像素，以及设置图片形式链接无边框 **/
.nest-comment img {
    vertical-align: middle;
}

.nest-comment a img {
    border: 0 none;
}

/** 列表样式 **/
.nest-comment ul,
.nest-comment ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nest-comment p {
    color: #3d464d;
    font-size: 14px;
    line-height: 1.6;
}

.nest-comment .comment-box,
.nest-comment .respond-box {
    position: relative;
    background-color: #fff;
    margin-bottom: 25px;
    border-color: #ebedf1;
    padding: 50px 38px 40px;
    background: #fff;
    -webkit-box-shadow: 0 2px 5px 0 rgba(146, 146, 146, .1);
    -moz-box-shadow: 0 2px 5px 0 rgba(146, 146, 146, .1);
    box-shadow: 0 2px 5px 0 rgba(146, 146, 146, .1);
}

.comment-box:hover .comment-title::after,
.respond-box:hover .comment-title::after {
    width: 75px;
}

.comment-box .comment-count {
    color: #666
}

.comment-title {
    font-size: 20px;
    color: #282828;
    font-weight: 600;
    margin: 0;
    margin-bottom: 30px;
    text-transform: uppercase;
    padding-bottom: 20px;
    position: relative;
}

.comment-title::after {
    content: "";
    background-color: #282828;
    left: 0;
    width: 60px;
    height: 2px;
    bottom: -2px;
    position: absolute;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.comment-title .comment-reply-cancel {
    margin-left: 10px;
    font-size: 14px;
    color: #ddd
}

.comment-loading {
    text-align: center;
    font-size: 18px;
    color: #929292;
    margin-bottom: 20px
}

.comment-list {
    padding: 0 0 20px 0;
    clear: both
}

.comment-list li {
    clear: both;
    margin: 15px 0;
    border-bottom: 1px solid #eceef1;
    margin-left: 65px;
    position: relative;
    padding-bottom: 5px;
    margin-bottom: 20px
}

.comment-list li .comment-avatar {
    position: absolute;
    left: -65px
}

.comment-list li .comment-avatar .avatar {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    width: 50px;
    height: 50px;
}

.comment-list li .comment-author {
    position: relative
}

.comment-list li .comment-author .comment-admin{
    background:#999898;
    padding:1px 5px;
    color:#fff;
    border-radius:2px;
    margin-left:5px;
    line-height:1;
    font-size:12px;
}
.comment-list li .comment-author .comment-floor {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 12px;
    color: rgba(0, 0, 0, .4)
}

.comment-list li .comment-author .comment-floor span {
    font-size: 14px;
    color: rgba(0, 0, 0, .4)
}

.comment-list li .comment-author .comment-floor span.floor-first {
    padding: 2px 5px;
    color: #FFF;
    font-size: 13px;
    background: #EF5E63
}

.comment-list li .comment-author .comment-floor span.floor-second {
    background: #FFA41F
}

.comment-list li .comment-author .comment-floor span.floor-third {
    background: #6698DE
}

.comment-list li .comment-text {
    padding: 10px 0;
    color: #282828
}

.comment-list li .comment-reply {
    display: block;
    text-align: right;
    margin: 0;
    font-size: 12px;
    color: #757e91
}

.comment-list li ul {
    padding: 10px 0 0 0
}

.comment-list li ul.children li {
    margin-left: 0;
    padding: 12px;
    border-bottom-width: 0;
    border: 1px solid #E4E4E4;
    border-radius: 2px;
    background-color: #fbfbfb;
    margin-bottom: 10px;
    margin-top: 0
}

.comment-list li ul.children li .comment-avatar {
    position: relative;
    left: initial;
    float: left
}

.comment-list li ul.children li .comment-avatar .avatar {
    width: 40px;
    height: 40px
}

.comment-list li ul.children li .comment-body {
    border-bottom-width: 0;
    margin: 0 0 0 55px;
    padding: 0 0 10px;
    position: relative
}

.comment-list li ul.children li .comment-body .comment-reply {
    position: absolute;
    right: 0;
    top: 0
}

.comment-list li ul.children li .comment-body .comment-text {
    padding: 10px 0 0 0
}

.comment-list li ul.children li .comment-body .comment-text .comment-reply-to{
    color: #A8A8A8;
    font-size: 14px;
    font-style: normal;
}

.comment-list em {
    padding-left: 6px;
    color: #A8A8A8;
    font-size: 12px;
    font-style: normal
}

.comment-pagination {
    text-align: center;
    padding: 0 30px;
    padding-bottom: 30px
}

.comment-pagination .prev {
    padding: 4px 4px !important;
}

.comment-pagination .page-numbers {
    margin: 0 1px 2px 1px;
    padding: 4px 10px;
    color: #5F5F5F;
    white-space: nowrap;
    display: inline-block;
    font-size: 14px;
    background-color: #eff0f1;
    border-radius: 2px;
}

.comment-pagination .page-numbers.dots {
    background-color: transparent;
    padding: 0;
}

.comment-pagination .page-numbers.current,
.comment-pagination .page-numbers:hover {
    color: #FFF;
    background-color: #19B5FE;
}

/* respond-box */
.respond-box p {
    margin: 0 0 15px
}

.respond-box .error,
.respond-box .loading {
    margin-top: 5px;
    color: #666
}

.respond-box .error {
    color: #e00
}

#edita {
    padding: 8px 15px;
    font-size: 14px;
    font-weight: 700;
    color: #f60;
    background: #fff1df
}

.respond-box p.tips {
    margin: 0 0 20px;
    padding: 10% 10px;
    border: 2px solid #efefef;
    background: #F7F7F7;
    text-align: center
}

.respond-box p label {
    padding-right: 1px;
    color: #000
}

.respond-box em {
    font-size: 11px;
    font-style: normal;
    color: #999
}

.comment-list li .respond-box {
    margin: 0 auto;
    padding: 15px;
    background: #f5f6f9;
    margin: 10px 0;
    box-shadow: none
}

.comment-form p em {
    padding-left: 5px;
    color: red
}

.comment-form label {
    color: #888;
    font-size: 14px
}

.comment-form .required {
    color: #ff4b33;
    font-weight: 700;
    margin-left: 3px;
    vertical-align: middle
}

.comment-form input {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 5px;
    padding: 10px 14px;
    border: 1px solid #eaeaea;
}

.comment-form input:focus,
.comment-form input:hover {
    color: #666;
    -webkit-appearance: none
}

.comment-form .author-info {
    margin-top: 20px
}

.comment-form .author-info .info-item-3 {
    float: left;
    width: 33.3333%;
    padding: 0 13px 0 0;
    font-size: 13px;
    color: #ccc;
    box-sizing: border-box;
    position: relative
}

.comment-form .author-info .info-item-3:last-child {
    padding: 0
}

.comment-form .comment-form-textarea {
    margin-bottom: 20px
}

.comment-form .comment-textarea-box {
    position: relative;
    margin-bottom: 15px
}

.comment-form .comment-textarea-box textarea {
    display: block;
    padding: 18px 14px;
    color: #ccc;
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    padding: 10px 14px;
    line-height: 1.5;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-color: #efefef
}

.comment-form .form-submit {
    position: relative;
}

.comment-form .form-submit button {
    font-size: 14px;
    padding: 0;
    border-radius: 0;
}

.comment-form .form-submit .comment-form-smilies {
    width: 300px;
    margin-top: 10px;
}

.comment-form .form-submit .btn-comment {
    -webkit-appearance: none;
    border-radius: 2px;
    background: #19B5FE;
    color: #fff;
    padding: 14px 0;
    border: 0;
    font-size: 16px;
    font-weight: bold;
    width: 120px;
    line-height: 1;
    height: auto;
    letter-spacing: .1em;
    text-transform: uppercase;
    -webkit-transition: color .2s ease-out, background .2s ease-out, border-color .2s ease-out;
    -moz-transition: color .2s ease-out, background .2s ease-out, border-color .2s ease-out;
    transition: color .2s ease-out, background .2s ease-out, border-color .2s ease-out;
    cursor: pointer;
}

.comment-form .form-submit .btn-comment:hover {
    background: #282828
}

.comment-form .form-submit #submit.disabled {
    cursor: not-allowed;
    opacity: .5;
    background: #282828
}

/** 表情符盒子 **/
.comment-form-smilies .smilies-box {
    padding: 10px
}

.comment-form-smilies .smilies-box a {
    cursor: pointer;
    height: 30px;
    width: 30px;
    text-align: center;
    display: inline-block;
    background: #FFF
}

.comment-form-smilies .smilies-box a:hover {
    position: relative;
    z-index: 2
}

.smiley-box {
    display: none;
    position: relative;
    margin-left: 10px
}

img.wp-smiley {
    width: 25px !important;
    height: auto !important;
    max-height: none !important
}


@media (max-width:992px) {

}


@media screen and (min-width:991px) and (max-width:1199px){

}

@media screen and (max-width:991px){

}

@media  screen and (min-width:768px) and (max-width:991px){

}

@media screen and (max-width:767px){
    .nest-comment .comment-box,
    .nest-comment .respond-box{padding:20px 22px 22px 22px;margin-bottom:5px;-webkit-border-radius:0;-webkit-background-clip:padding-box;-moz-border-radius:0;-moz-background-clip:padding;border-radius:0;overflow:hidden;box-shadow:none!important;}
    .comment-title{margin:0 0 30px 0;font-size:18px;padding-bottom:15px;}
    .comment-list li{margin-left:45px;padding-bottom:5px;margin-bottom:5px}
    .comment-list li .comment-avatar{left:-45px}
    .comment-list li .comment-avatar .avatar,
    .comment-list li ul.children li .comment-avatar .avatar{width:30px;height:30px}
    .comment-list li .comment-text{padding:5px 0}
    .comment-list li .comment-text p{font-size:14px}
    .comment-list li ul.children li{padding:8px}
    .comment-list li ul.children li .comment-body{margin:0 0 0 45px;padding:0}
    .comment-form .author-info .info-item-3{width:100%;padding:0}
    .comment-form .author-info p{width:100%}
    .comment-form input{margin-bottom:10px;padding:8px 14px 8px 54px}
    .comment-form label{position:absolute;top:15px;left:10px}
    .comment-form .form-submit .facetoggle{display:none}
    .comment-form .form-submit input[type=submit]{width:100%;display:block;padding:12px 0;font-size:13px}
    .comment-form .form-submit .comment-form-smilies{display:block;position:relative;width:auto;margin-top:0;border-width:0;margin-bottom:20px;box-shadow:none;opacity:1;z-index:1;}
    .comment-form .form-submit .comment-form-smilies::before,
    .comment-form .form-submit .comment-form-smilies::after{display:none}
    .comment-form .form-submit .comment-form-smilies .smilies-box{padding:0}
}